@using aspnet5.Extensions;
@model aspnet5.Areas.MovieStore.ViewModels.Movies.MovieSearchViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index &nbsp;</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>First name: <strong data-bind="text: lastName"></strong></p>
    <p>selected: <strong data-bind="text: selectedStarRating"></strong></p>

    @Html.LabelFor(m => m.SelectedStarRating);
    <i class="fa fa-star-o" aria-hidden="true"></i>
    @Html.DropDownListFor(m => m.SelectedStarRating, new SelectList(Model.StarRatings, "Value", "Text"), new { data_bind = "options: starRatings, optionsText: 'text', optionsValue: 'value', value: selectedStarRating" });
    <br/>
    
    @Html.LabelFor(m => m.SelectedGenre);
    <i class="fa fa-ticket" aria-hidden="true"></i>
    @Html.DropDownListFor(m => m.SelectedGenre, new SelectList(Model.Genres, "Value", "Text"), new { data_bind = "options: genres, optionsText: 'Text', optionsValue: 'Value', value: selectedGenre", });

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" value="Search" class="success button">
                &nbsp; Search &nbsp;
            </button>
        </div>
    </div>
    
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].StarRating)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Movies)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StarRating)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("EditSPA", "EditSPA", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }     
        </table>

}

@*All Support JS libraries are declared in Shared _Layout*@
@Scripts.Render("~/Scripts/Movies/Index.js")
<script>
    var jsonModel = @(Html.ToJson(Model));
</script>

